.course {
    margin-top: 30px;
}
.ude-course--unit {
    display: flex;
    .ude-course--left {
        display: flex;
        align-items: center;
        height: 320px;
        background: rgba(246, 248, 250, 1);
        .ude-course--description {
            display: block;
            padding: 0 32px;
            h2 {
                @include styleText($color-black-0, $fs-2 - 1px, $fw-bold);
                line-height: 1.47em;
            }
            p {
                @include styleText($color-black-0, $fs-0 + 1px, $fw-normal);
                line-height: 1.5em;
            }
        }
    }
    .ude-course--right {
    }
    .ude-course--topbar {
        border-bottom: 1px solid $color-gray-6;
        .ude-topbar--list {
            display: flex;
            align-items: center;
            .ude-topbar--item {
                padding: 11px 12px;
                list-style: none;
                .ude-topbar--link {
                    text-decoration: none;
                }
            }
        }
    }
    .ude-courses {
        overflow: hidden;
    }
    .ude-course--list {
        padding: 20px 0;
        display: flex;
        // sliders
        transform: translateX(-0%);
        .ude-course--list__item {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border: 1px solid #e8e9eb;
            .ude-course--detail {
                padding: 15px 10px;
            }
            .ude-course--img img {
                width: 100%;
            }
            .ude-course--detail__name {
                @include styleText($color-black-0, $fs-0, $fw-bold-1);
                line-height: 20px;
                height: 43px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
            }
            .ude-course--detail__author {
                @include styleText($color-gray-4, $fs-1 - 1px, $fw-normal);
                padding-top: 10px;
                line-height: 15px;
                height: 25px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }
            .ude-course--detail__rating-review {
                padding-top: 10px;
                .ude-course--detail__rating-star {
                    position: relative;

                    i:nth-child(1) {
                        z-index: 2;
                        @include styleText($color-yellow, $fs-1 - 1px, $fw-bold);
                    }
                    i:nth-child(2) {
                        position: absolute;
                        top: 21%;
                        left: 0;
                        z-index: -1;
                        @include styleText($color-gray-3, $fs-1 - 1px, $fw-bold);
                    }
                }
                .ude-course--detail__review {
                    @include styleText($color-black-light, $fs-0, $fw-bold-1);
                }
                .ude-course--detail__count {
                    @include styleText($color-gray-4, $fs-1 - 1px, $fw-bold-0 - 200);
                }
            }
            .ude-course--detail-price {
                text-align: right;
                padding-top: 10px;
                .ude-course--detail__cost {
                    @include styleText($color-black-0, $fs-1, $fw-bold-0 - 200);
                    text-decoration: line-through;
                }
                .ude-course--detail__promotional-price {
                    @include styleText($color-black-0, $fs-2 - 2px, $fw-bold-1);
                }
            }
        }
    }
}
